#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PaytoneOne";
  font-weight: 400;
  src: url("/fonts/PaytoneOne-Regular.ttf") format("truetype");
}

.paytone-one {
  font-family: "PaytoneOne";
}
